{% extends "base.html" %}

         {% block title %} Add Aliquot {% endblock title %}  
         {% block navAddActive %} class="active"{% endblock navAddActive %}
            
      
         {% block content %}
        <div class="container-fluid"> 
        
       
             <div class="jumbotron">
            
                <h1>Add Aliquot</h1>
                <p>Complete this form to add an aliquot to the repository</p>
               
             </div>
       </div> 
        
    
        
      
    
   {% endblock content %}     
    </body>
    