{% extends "base.html" %}
{% load crispy_forms_tags %}



         {% block title %} Add Aliquot {% endblock title %}  
         {% block navAddActive %} class="active"{% endblock navAddActive %}
            
      
         {% block content %}
        <div class="container-fluid"> 
        
       
             <div class="jumbotron">
            
                <h1>Add Aliquot</h1>
                <p>Complete this form to add an aliquot to the repository</p>
               
             </div>
       </div> 
       
         
      <form method="post" action="">
      <div class="container-fluid"> 
      	<div class="jumbotron">
      		{% csrf_token %} <!-- this is to prevent Cross site Scripting -->
    		{{ form|crispy }}
        	<button type="submit" class="save btn btn-default">Save</button>
       	</div>
      </div>
    </form>
	 
       		
   
        
    
        
      
    
   {% endblock content %}     
    </body>
    