<!-- This is a Django Tag-->
{% extends "base.html" %}


{% block title %}CHOP Skills Assessment{% endblock title %}
{% block navHomeActive %} class="active"{% endblock navHomeActive %}        
                  

        {% block content %}
        <div class="container-fluid">
             <div class="jumbotron">
            
                <h1>Welcome</h1>
                <p>To search for tissue samples and update volume of samples use the search tab.</p>
                <p>To add tissue samples to the repository use the add tab.</p>
                            </div>
        </div>
        {% endblock content %}
        
    </body>

